#about-section {
  min-height: 100%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url(../assets/aliiance_dance.JPG); /* Change this to team picture */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about-section {
  padding-top: 300px;
  text-align: center;
}

#outreach-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #00A896;
}

#first-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../assets/clifton_win.jpg); /* Change this to team picture */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
