#about-section {
  min-height: 100%;
  background-image: url(https://static.pexels.com/photos/26110/pexels-photo-26110.jpg); /* Change this to team picture */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about-section {
  padding-top: 300px;
  text-align: center;
}

#outreach-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #00A896;
}

#first-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(https://static.pexels.com/photos/26110/pexels-photo-26110.jpg); /* Change this to team picture */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
